html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .center {
    text-align: center;
  }
  #main {
   margin-left: 25%;
  }
  #parent {
    /*border: 2px solid red;*/
    width: 690px;
  }
  #other {
    /*border: 2px solid black;*/
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
  }
  input {
    font-size: 15px;
    padding: 7px 15px;
    border: 1px solid grey;
    border-radius: 22px;
  }
  input#dec {
    /*width: 100%;*/
    box-sizing: border-box;
  }
  button {
    padding: 5px 15px;
    background-color: #6181FF;
    color: white;
    border: 1px solid transparent;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 18px;
    outline: none;
  }
  
  .btn {
    margin: 13px;
  }
  button:hover {
    background-color: #5275FF;
    cursor: pointer;
  }
  button:active {
    transform: scale(0.9,0.9);
  }
  @media only screen and (max-width: 1086px) {
    #other {
      flex-direction: column;
    }
    #parent{
      width:100%;
    }
  }
  input:focus {
    outline: none;
  }
  h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 0px 0px black, 0px -1px 0px black,0px 1px 0px black, -1px 0px 0px black;
  }
  
/*calcultor*/

  .container {
    width: 33%;
    margin: auto;
  }
  #res {
    height: 48px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2px;
    word-wrap: break-word;
    margin: 10px 0px 10px 0px;
  }
  .btnContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .btnContainer > .btnClass {
    width: 25%;
    margin: 0px;
    float: left;
    font-size: 18px;
    height: 36px;
  }
  .btnContainer > .btnNum {
    background-color: lightgray;
    color: brown;
  }
  .btnContainer > .btnExt {
    background-color: darkgreen;
    color: white;
  }
  .btnContainer > .btnOp {
    margin-top: 10px;
    background-color: lightgray;
    color: red;
  }
  